* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    background-color: white;
}

h1 {
    font-size: 7rem;
    margin-top: 40px;
}
.text{
    font-size: 1.8rem;  
    margin-bottom: 1rem;  
}


#main {
    height: auto;
    background-color: #caf0f8;
    display: flex;
    margin: 20px auto;
    width: 99%;
    border-radius: 10px;
    justify-content: center;
}

#title {
    width: 98%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#img-div {
    width: 98%;
    height: auto;
    margin-bottom: 5rem;
}

#image {
    max-width: 100%;
    height: auto;
    box-shadow: 4px 5px 22px 5px #000000;

}
#img-caption{
    font-size: 1.4rem;
    margin-top: 2rem;
}

h2 {
    margin-bottom: 2.3rem;
    font-size: 2.5rem;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    height: auto;
}

ul li {
    display: list-item;
    font-size: 1.6rem;
    margin: auto 0 50px auto;
    text-align: justify;
    margin: 3.5rem 5rem;
    list-style-type: disc;
}
ul{
    height: auto;
}

blockquote {
    font-size: 2rem;
}

footer {
    padding: 3rem;
    font-size: 3rem;
}

footer a {    
    text-decoration: none;
}