* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    background-color: white;
}

h1 {
    font-size: 7rem;
    margin-top: 40px;
}

#main {
    width: 100%;
    height: 150rem;
    background-color: #caf0f8;
    display: flex;
    margin: 20px auto;
    width: 98%;
    border-radius: 10px;
    justify-content: center;
}

#title {
    display: flex;
    justify-content: center;
    border: 1px solid blue;

}
